<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Photos Tab -->
  <ion-tab title="Photos" icon="ion-images" href="#/tab/photos">
    <ion-nav-view name="tab-photos"></ion-nav-view>
  </ion-tab>

  <!-- Favorites Tab -->
  <ion-tab title="Favorites" icon="ion-android-favorite" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon="ion-ios-people" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

</ion-tabs>
